* {
	box-sizing: border-box;
}
html {
	display: flex;
	justify-content: center;
}
body {
	display: flex;
	justify-content: center;
	padding: 40px;
	font: 9pt -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
	flex-direction: column;
}
.entry {
	display: flex;
	gap: 40px;
}
.entry > * {
	flex: 1;
}
.note pre {
	white-space: pre-wrap;
}
@media (min-width: 1200px) {
	body {
		width: 1200px;
	}
}
