body {
	font: 12pt 'Noto Sans', sans-serif;
	line-height: 1.5;
	-webkit-text-size-adjust: 100%;
}
body, div, span, input {
	box-sizing: border-box;
}
body, input {
	color: #333;
}
a {
	color: #3376d2;
	text-decoration-thickness: 0.08rem;
	position: relative;
	top: -0.1rem;
}
a.code {
	display: inline-block;
	position: relative;
	left: -0.2rem;
	margin-left: 0.5rem;
}
a:hover:not('.button') {
	color: #006deb;
}

body {
	margin: 0 auto;
	padding: 0 1rem 2rem;
	overflow-y: scroll;
	max-width: 1080px;
}
@media (min-width: 481px) {
	body {
		width: 90vw;
	}
}
#content .note .num {
	font-weight: bold;
	font-size: 1.1rem;
	padding-right: 0.1rem;
	top: 0.025rem;
	position: relative;
	margin-left: -3.2rem;
	width: 3.2rem;
	display: inline-block;
	text-align: right;
	padding-right: 0.6rem;
}
@media (max-width: 480px) {
	#content .note {
		padding-left: 2.4rem;
	}
}
img.header {
	max-width: 640px;
	display: block;
}
@media (min-width: 481px) {
	img.header {
		width: 30%;
		margin: 1rem 0 -1.2rem;
	}
}
@media (max-width: 480px) {
	img.header {
		width: 50%;
		margin: 0.75rem 0 -1.4rem -0.8rem;
	}
}

.highlight {
	padding: 0 0.2rem 0.1rem;
	margin: -0.3rem -0.1rem;
	border-radius: 0.25rem;
	box-shadow: 5px solid red;
	position: relative;
}
.details-service .highlight {
	background-color: #FFCCCB;
}
.details-key .highlight {
	background-color: #FFE388;
}
.details-sales .highlight {
	background-color: rgb(255, 255, 168);
}

.upload .heading {
	margin-top: 1.35rem;
	color: gray;
	font-size: 1.2rem;
	text-transform: uppercase;
	font-weight: bold;
}
.upload label input[type="file"] {
	display: none;
}
.upload label {
	border-radius: 4px;
	padding: 5px 12px;
	margin: 2px;
	background: #eee;
	border: 2px solid #ccc;
	display: inline-block;
	cursor: pointer;
	user-select: none;
	margin: 0;
	top: 2px;
	position: relative;
}
.upload label:active {
	margin: 1px 0 -1px;
}

nav {
	position: sticky;
	bottom: 50px;
	right: 50px;	
	--button-radius: 5px;
	display: flex;
	justify-content: flex-end;
}
nav button {
	font-family: inherit;
	font-size: 10.5pt;
	text-transform: uppercase;
	background: #eee;
	border: 1px solid #ccc;
	border-radius: var(--button-radius);
	padding: 10px 13px 9px 12px;
	cursor: pointer;
	opacity: 0;
	visibility: hidden;
	transition: opacity 250ms ease-in;
}
nav button symbol { 
	color: #333;
	margin-right: 3pt;
	text-shadow: 1px 0 1px #ccc,0 1px 1px #eee,2px 1px 1px #ccc;
}
nav .prev {
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
}
nav .next {
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
}

h4 {
	font-size: 1.4rem;
	font-weight: bold;
	margin-bottom: 0;
	border-bottom-width: 0.15rem;
	border-bottom-style: solid;
	padding-bottom: 0.1rem;
}
section:nth-of-type(1) h4 {
	color: red;
	border-bottom-color: red;
}
section:nth-of-type(2) h4 {
	color: blue;
	border-bottom-color: blue;
}
section:nth-of-type(3) h4 {
	color: purple;
	border-bottom-color: purple;
}
section:nth-of-type(4) h4 {
	color: green;
	border-bottom-color: green;
}
h4:last-of-type {
	color: gray;
	border-bottom-color: gray;
}

h5 {
	display: inline-block;
	font-weight: bold;
	width: 3.2rem;
	margin: 0;
	position: relative;
	margin-bottom: -0.5rem;
}

.entry {
	display: flex;
	gap: 50px;
  margin-block-start: 1em;
  margin-block-end: 1em;
  padding-inline-start: 40px;
}
.entry .note {
	flex: 1;
}
.entry .email {
	flex: 1.5;
}
.note .content {
	display: block;
	left: 3.2rem;
	width: calc(100% - 2.5rem);
	top: -1.3rem;
	position: relative;
	margin-bottom: -2.5rem;
}

input, .table {
	box-shadow: 0 0 0 1px rgb(89 105 128 / 10%), 0 1px 3px 0 rgb(89 105 128 / 10%), 0 1px 2px 0 rgb(0 0 0 / 5%);
}
input {
	border: 0.5pt solid #ccc;
	border-radius: 3px;
}
input, .button {
	height: 22pt;
}
input {
	font: 10pt sans-serif;
	padding-left: 5pt;
	outline: none;
	min-width: 2.5em;
}
.refresh span {
	margin-right: 0.5em;
}
.refresh input {
	margin-right: 1.25em;
}
input:focus {
	border-color: #333;
}
.button {
	border-radius: 3px;
	cursor: pointer;
	text-decoration: none;
	font-size: 80%;
	display: inline-block;
	padding-left: 20pt;
	padding-right: 20pt;
	background: #3376d2;
	color: white;
	display: flex;
	align-items: center;
}
.button:hover {
	background: #006deb;
}
.refresh {
	display: flex;
	margin: 1em 18pt;
	align-items: center;
}
.refresh span {
	display: flex;
	align-items: center;
}
.refresh .buttons {
	margin: -0.25em 0;
}
.refresh .button {
	margin: 0.25em;
	margin-right: 1em;
}
.refresh .buttons {
	display: flex;
	flex-wrap: wrap;
}
.table {
	border-radius: 6px;
	max-width: 44em;
	margin: 1.35em;
}
.table > div {
	display: grid;
	align-items: center;
	grid-template-columns: 1.2fr 1fr 1fr;
}
.table > div:not(.heading) {
	border-top: 0.5pt solid #eee;
}
.table > div > div {
	padding: 0.5em 0.75em;
}
.table > div:not(.heading) > div {
	font-size: 11pt;
}
.table .heading {
	font-size: 9pt;
	font-weight: bold;
	text-transform: uppercase;
}
.table .heading > div:not(:first-child) {
	text-align: center;
}
.table .heading div:first-child {
	padding-left: 1em;
}
.table .actions {
	display: flex;
	align-items: center;
	height: 100%;
	background: #f6f6f6;
	justify-content: center;
}
.table .actions > div {
	border-radius: 3px;
	box-shadow: 0 0 0 1px rgb(71 83 102 / 10%), 0 1px 2px rgb(0 0 0 / 5%);
	background: white;
	display: flex;
	overflow: hidden;
}
.table .actions a {
	padding: 0.25em 1.25em;
	font-size: 9pt;
	font-weight: bold;
	text-transform: uppercase;
	display: block;
	text-decoration: none;
}
.table .actions a:not(:first-child) {
	border-left: 1px solid #eee;
}
.table .actions:nth-child(n+3) {
	border-left: 1px solid #eee;
}
.table > div:not(.heading):hover {
	background-color: #f9f9f9;
}
.table > div:hover .actions {
	background-color: #f0f0f0;
}
.table .actions a:hover {
	background: #3376d2;
	color: white;
}

.email input {
	width: 100%;
}